@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-dark-button: #121214;
  --color-dark-button-border: #2A2C32;
  --color-dark-button-hover: #32353E;
  --color-dark-svg-color: #E6E6E6;

  --color-light-button: #FFF;
  --color-light-button-border: #D4D9E2;
  --color-light-button-hover: #EAEBF0;
  --color-light-svg-color: #2E3038;
}