---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import LanguagePicker from './LanguagePicker'
import ThemeToggle from './ThemeToggle'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<header class="bg-light-primary dark:bg-dark-primary flex items-center justify-between px-10 py-3">
  <h1 class="text-light-text dark:text-dark-text">{t('title')}</h1>
  <div class="flex gap-x-2">
    <div class="relative">
      <LanguagePicker client:load lang={lang} />
    </div>
    <div class="relative">
      <ThemeToggle client:load lang={lang} />
    </div>
  </div>
</header>
